<ul class="list-group">
  <li class="list-group-item">Cadastrar Músicas:<button  (click)="editarMusica(musicas)   " type="button" class="btn btn-link">Musicas</button>
  <li class="list-group-item">Cadastrar Gêneros:<button  (click)="editarGenero(generos)   " type="button" class="btn btn-link">Gêneros</button>
  <li class="list-group-item">Cadastrar Artistas:<button (click)="editarArtista(artistas) " type="button" class="btn btn-link">Artistas</button>
  <li class="list-group-item">Cadastrar Albuns:<button   (click)="editarAlbum(albuns)     " type="button" class="btn btn-link">albums</button>
  <li class="list-group-item">Cadastrar Usuários:<button (click)="editarUsuario(usuarios) " type="button" class="btn btn-link">Usuários</button>
</ul>
